@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "main1 main2";
  grid-gap: 1rem;
}

h2,
li {
  font-family: "Patua One", sans-serif;
}

img {
  grid-area: banner;
  width: 100%;
}

nav {
  grid-column: 2 / -1;
  grid-row: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: start;
}

li {
  margin: 0;
  padding: 1rem;
  font-size: 2rem;
}

h1 {
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  width: 14rem;
  order: 1;
  margin: 0 0 1rem 1rem;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

figcaption {
  margin-top: 1rem;
}

figure:first-child {
  grid-area: main1;
  margin: 0;
}

figure:last-child {
  grid-area: main2;
  margin: 0;
}

h2 {
  color: #30658d;
  margin: 0;
  padding: 0;
}

p {
  color: #000;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  display: contents;
}
