@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: "Patua One", sans-serif;
  line-height: 1.5rem;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "banner banner"
  "main main";
}

img {
  grid-area: banner;
  width: 100%;
}

nav {
  grid-area: banner;
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  justify-items: end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

h1 {
  grid-area: banner;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

h2 {
  grid-area: main;
  font-family: Georgia;
  font-size: 2rem;
  color: #30658d;
}

p {
  grid-area: main;
  color: #000;
}

a {
  color: #fff;
}
