@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  background-color: #f2f1ed;
  font-family: "Patua One", sans-serif;
  line-height: 1.5rem;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem;
}

img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h1 {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

nav {
  font-size: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  grid-column: 3;
  grid-row: 2;
  z-index: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

h2 {
  grid-area: main;
  font-family: Georgia;
  font-size: 2rem;
  color: #30658d;
}

p {
  grid-area: main;
  color: #000;
}

a {
  color: #fff;
}

  /*
div:nth-child(1) {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

div:nth-child(2) {
  grid-column: 3 / -1;
  grid-row: 1 / 1;
}

div:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

div:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

nav {
  background-color: inherit;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
nav li {
  margin: 0;
}

 */
